

input, select {
  width: 100%;
  margin-top: 10px;
}
p {
    padding-top: 20px;
}

.card-body{
    font-family: 'Teko', sans-serif;
    font-size: 1.4em;
}

.tab-decoration{
    font-family: 'Audiowide', cursive;
}

.small-print-text{
    font-size: 0.55em;
    font-family: sans-serif;
    padding-top: 0;
    text-align: right;
}

@media only screen and (min-width: 600px) {
  #accordion {
    max-width: 600px;
    margin: auto;
    }
   body{
        background: #aeb0af;
   }   
}