body{
    margin: 0;
    padding: 0;
}

p{
    padding-top: 15px;
    margin-bottom: 0;
}

input, select {
  width: 90%;
  margin-top: 10px;
}

i{
    margin-right: 5px;
}

.col-12{
    padding: 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.card-body{
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
}

.tab-decoration, .tab-decoration2{
    font-family: 'Audiowide', cursive;
}

.small-print-text{
    font-size: 0.55em;
    font-family: sans-serif;
    padding-top: 0;
    text-align: right;
}

button.tab-decoration.btn.btn-link, button.tab-decoration2.btn.btn-link{
    color: rgb(102, 10, 10);
    text-decoration: none;
    text-shadow: 1px 0 1px;
}

div #headingOne #headingTwo{
    background-color: rgb(199, 235, 224);
}

.card-body{
    background-color: rgb(255, 245, 245);
}

#accordion, #accordion2{
    background-color: transparent;
}

#income-taxed-btn, #calc-mpg-btn{
    margin-left: 30px;
}

/*--------------------------------------------Navbar-custom*/

.navbar-custom{
    background-color: rgba(138, 58, 58, 0.92);
}

.navbar-color-button{
    background-color: rgb(255, 245, 245);
}

.h4-color-text{
     color: rgb(199, 60, 60);
}

.social-links{
    padding-top: 15px;
    color: #fff;
    font-size: 2.5em;
   
}

.navbar-color-text{
    color: #fff;
}

#navbar-font{
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
    color: rgb(196, 23, 23, 0.82);
}

#navbar-font-menu{
    font-family: 'Teko', sans-serif;
}

/*--------------------------------------------Edge support*/
@supports (-ms-ime-align: auto) {
  #navbar-font {
        color: #c11717;
  }
}

/*--------------------------------------------Income Tax Calculator CSS*/
.font-icon-div{
    display:inline;
}

.make-red{
    color: rgb(199, 60, 60);
}

span.requiredMessage{
    text-align: right;
}

#euro-symbol{
   padding-right: 10px;
}

#income-tax-output{
    padding-top: 20px;
}

#income-tax-output, #net-pay, #weekly-pay{
        font-size: 0.93em;
}

/*--------------------------------------------Mpg Calculator*/

.radio-buttons{
    margin-top: 25px;
    margin-bottom: 15px;
}

#mpg-span{
    margin-left: 25px;
}

/*--------------------------------------------Footer Section*/
footer{
    background-color: #fff;
    height: 120px;
}

.footer-icons{
    font-size: 2.7em;
    color: rgb(196, 23, 23, 0.82);
}

.footer-text{
    text-align: center;
    padding-top: 20px;
}
/*--------------------------------------------Edge support*/
@supports (-ms-ime-align: auto) {
  .footer-icons {
        color: #c11717;
  }
}

/*--------------------------------------------Modal css*/

.form-refresh:focus{
    border-color: rgb(255, 196, 255);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(148, 95, 95, 0.6);
}

/*--------------------------------------------Media queries*/

/*--------------------------------------------Sets background image to appear and fix with of content to 768px @ 600px*/
@media only screen and (min-width: 600px) {
 body {
     background: url(https://cdn.wallpapersafari.com/86/67/gS4Z7m.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  .fixed{
    max-width: 768px;
    margin: auto;
  }
  
}

/*--------------------------------------------set font-size output text income calc back to 1.0 em of 1.4em on .card*/
@media only screen and (min-width: 400px){
    #income-tax-output, #net-pay, #weekly-pay{
        font-size: 1.0em;
    }
}
